        <article class="card">
            <img class="card__image" src="{{ item.image_src }}" width="250" height="320" alt="{{ item.image_alt }}">
            <span class="label
            {% if item.label == "Sold out" %}
	        label--sold
	        {% endif %}">{{ item.label }}</span>
            <h3 class="card__price">{{ item.price }}</h3>
            <p class="card__author">{{ item.name }}</p>
        </article>